.header {
  height: 142px;
}

.header__container {
  max-width: 1920px;
  margin: auto;
  padding: 10px 40px;
}

.header__top {
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top > figure {
  display: flex;
  height: 34px;
}

.header__top > ul {
  display: flex;
  margin-right: -20px;
}

.header__top > ul > li {
  display: block;
  font-size: 1.6rem;
  position: relative;
  cursor: pointer;
}

.header__top > ul > * ~ * {
  margin-left: 21px;
}

.header__top > ul > * ~ *::before {
  content: "";
  background-color: #000;
  width: 1px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}

.header__main {
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__nav {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header__nav > ul {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__nav > ul > li > a {
  display: block;
  line-height: 64px;
  padding: 0 10px;
  position: relative;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.header__nav > ul > li > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #000;
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.header__nav > ul > li > a:hover:before {
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.header__search {
  position: relative;
  border-radius: 20px;
  background-color: rgba(204, 204, 204, 0.5);
}

.header__searchIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.header__search > input {
  width: 160px;
  padding: 10px;
  padding-left: 35px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.4rem;
}

.header__heart,
.header__cart {
  margin-left: 20px;
}
